body {
  background-color: #e9546b;
}
.App {
  text-align: center;
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  color: #595757;
  margin-top: 180px;
  /* border-radius: 20px; */
}

.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: rgb(255, 88, 100);
  z-index: 99999;
}

.mainNav a {
  text-decoration: none;
}
.mainNav a:hover {
  text-decoration: none;
}
.mainNav a p {
  color: white;
  font-size: 75px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -20px;
}

.mainNav .tagline {
  font-size: 25px;
  color: white;
}

.tara {
  display: inline-block;
  max-width: 150px;
  vertical-align: top;
  margin-right: -40px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: rgb(255, 88, 100);
  width: 100%;
  padding: 10px 0;
}

.footer p {
  text-align: center;
  color: white;
  font-size: 18px;
}

h1 {
  color: white;
  padding: 50px 0 0 0;
  cursor: pointer;
}

.joketitle {
  margin: 0 auto;
  font-size: 30px;
}
.menus {
  margin: 10% auto;
  position: relative;
}
.topButton img {
  width: 50px;
  height: 50px;
}

.topButton {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-color: #e9546b;
  display: inline-block;
  cursor: pointer;
  color: #e9546b;
  border-radius: 10px;
  padding: 10px;
  padding-top: 25px;
  margin: 5px;
  font-size: 20px;
  /* vertical-align: top; */
}
.topButton:hover {
  color: white;
  background-color: #e9546b;
}
.topButton * {
  margin: 10px;
}

.updatejoke {
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

.option {
  width: 100px;
  height: 30px;
  border: 1px solid;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  border-color: #e9546b;
  color: #e9546b;
}
.option * {
  font-size: 15px;
  margin: 5px auto;
}

.select {
  background-color: #e9546b;
  color: white;
}

.sendButton {
  width: 100px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  background-color: #e9546b;
  color: white;
  box-shadow: 0px 0px 0px 3px #e9546b;
  border: dashed 1px white;
  margin: 10px;
  padding: 10px;
  -webkit-transition: width 0.3s ease, height 0.3s ease;
  -moz-transition: width 0.3s ease, height 0.3s ease;
  -o-transition: width 0.3s ease, height 0.3s ease;
  -ms-transition: width 0.3s ease, height 0.3s ease;
  transition: width 0.3s ease, height 0.3s ease;
}
.sendButton:hover {
  background-color: white;
  color: #e9546b;
  box-shadow: 0px 0px 0px 3px white;
  border: dashed 1px #e9546b;
}
.sendButton:active {
  width: 110px;
  height: 55px;
  background-color: #e9546b;
  color: white;
  box-shadow: 0px 0px 0px 3px #e9546b;
  border: dashed 1px white;
}

.memo {
  position: relative;
  background: #fdeeed;
  border-left: 4px dotted rgba(0, 0, 0, 0.1);
  border-right: 4px dotted rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 1em;
  color: #65513f;
  width: 350px;
  margin: 50px auto;
  transform: rotate(-4deg);
}
.masking-tape {
  position: absolute;
  top: -1em;
  left: 30%;
  width: 130px;
  height: 30px;
  background-image: linear-gradient(
    -45deg,
    rgba(227, 155, 140, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(227, 155, 140, 0.4) 50%,
    rgba(227, 155, 140, 0.4) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: 20px 20px;
  border-left: 2px dotted rgba(0, 0, 0, 0.1);
  border-right: 2px dotted rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0.25em 2em;
  color: #65513f;
  transform: rotate(-4deg);
}
.memo p {
  color: #65513f;
  padding: 10px;
  font-size: 20px;
}

.copyButton {
  width: 50px;
  height: 50px;
}

.heart {
  width: 18px;
  height: 18px;
  margin-top: 0;
  margin: 10px 4px 15px;
}

.firstLetter {
  text-decoration: underline;
  /* text-shadow: 0 1px 1px #e9546b; */
  margin-right: 1px;
  font-style: 16px;
}
