body {
  background-color: #E9546B;
  font-family: 'Cabin Sketch', cursive;
}
.App {
  text-align: center;
  /* background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border-radius: 20px; */
}

/* ////////////////////////// */
.topButton{
  /* TODO  change design*/
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-color: black;
  display: inline-block; 
  cursor: pointer;
}
.jokearea {
    /* TODO  change design*/
    width: 300px;
    height: 50px;
    border: 1px solid;
    border-color: black;
    margin: 0 auto;
    display: inline-block; 
}
.updatejoke {
  /* TODO  change design*/
  width: 50px;
  height: 50px;
  display: inline-block; 
  cursor: pointer;
}

.user {
  /* TODO  change design*/
  width: 350px;
  height: 50px;
  border: 1px solid;
  border-color: black;
  margin: 10px auto;
  cursor: pointer;
}
.select {
  background-color: gray;
}

.sendButton {
  /* TODO  change design*/
  width: 200px;
  height: 50px;
  border: 1px solid;
  border-color: black;
  display: inline-block; 
  cursor: pointer;
}
