
body {
  background-color: #e9546b;
}
.App {
  text-align: center;
  background-color: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  color: #595757;
  /* border-radius: 20px; */
}

h1 {
  color: white;
  padding: 50px 0 0 0;
  cursor: pointer;
}

.menus{
  position: relative;
}
.topButton img {
  width: 50px;
  height: 50px;
}

.topButton {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-color: #e9546b;
  display: inline-block;
  cursor: pointer;
  color: #e9546b;
  border-radius: 10px;
  padding: 40px 0;
  margin: 5px;
}
.topButton:hover {
  color: white;
  background-color: #e9546b;
}
.topButton * {
  margin: 10px;
}
.jokearea {
  position: relative;
  margin: 20px auto;
  min-width: 120px;
  max-width: 350px;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 1px #555;
  box-sizing: border-box;
  border-radius:30px
}

.jokearea:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -14px;
  border: 13px solid transparent;
  border-top: 13px solid #FFF;
  z-index: 2;
}

.jokearea:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -15px;
  border: 14px solid transparent;
  border-top: 16px solid #555;
  z-index: 1;
}

.jokearea div {
  margin: 20px;
  font-size: 20px;

}

.updatejoke {
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

.option {
  width: 100px;
  height: 100px;
  border: 1px solid;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  background-color: white;
  border-color: #E9546B;
}
.option * {
  font-size: 20px;
  margin: 30px auto;
}

.select {
  background-color: #E9546B;
  color: white;
  
}

.sendButton {
  width: 200px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  background-color: #e9546b;
  color: white;
  box-shadow: 0px 0px 0px 3px #e9546b;
  border: dashed 1px white;
  margin: 10px;
  padding: 10px;
}
.sendButton:hover {
  background-color: white;
  color: #e9546b;
  box-shadow: 0px 0px 0px 3px white;
  border: dashed 1px #E9546B;
}

